<div class="container">	
	<div class="logo"><img src="https://drklinika.ru/wp-content/uploads/2021/08/logo.png"></div>
<div class="cnt">	
<h3><b>Договор №{id}<br> оказания медицинских услуг с физическим лицом</b></h3>	

<div class="dleft2">
<p><b>г. Москва</b></p>
</div>
<div class="dright2">
<p><b>{zaregistrirovan} г.</b></p>
</div>
</div>
<div style="clear: both;"></div>
<div class="dhd">
<p>ООО «Виктория» (лицензия № ЛО-77-01-017111 от 30.11.2018 г.), в лице генерального директора Алиевой Н.Ф., действующего на основании Устава , именуемая в дальнейшем  «Клиника», «Исполнитель», с одной стороны, и <b>{fio}</b>,  именуемого в дальнейшем «Пациент», «Клиент», с другой стороны, заключили настоящий договор о нижеследующем:
</p>
<h5>1. ПРЕДМЕТ ДОГОВОРА</h5>
<p>По настоящему договору Клиника обязуется оказывать Пациенту медицинские услуги (диагностические, лечебные, профилактические или реабилитационные), в соответствии с имеющейся у Исполнителя лицензией на осуществление медицинской деятельности и действующими нормативными актами о здравоохранении в РФ, а Пациент обязуется своевременно оплачивать стоимость предоставляемых услуг и выполнять требования и рекомендации Клиники, обеспечивающие качественное предоставление медицинских услуг.</p>

<p>Отношения между Клиникой и Пациентом регулируются нормами федерального законодательства, Правилами предоставления платных медицинских услуг населению медицинскими учреждениями, утвержденными постановлением Правительства РФ 13.01.1996 № 27, и настоящим Договором.</p>

<h5>2. УСЛОВИЯ И ПОРЯДОК ОКАЗАНИЯ УСЛУГ</h5>
<p>2.1. Клиника оказывает услуги по настоящему договору по адресу: Тарутинская 4 к.1, а также в медицинских учреждениях, имеющих с Клиникой соответствующие договоры.
2.2. Клиника оказывает услуги по настоящему договору в дни и часы работы, которые устанавливаются администрацией Клиники и доводятся до сведения Пациента.</p>
<p>2.3. Предоставление услуг по настоящему договору происходит в порядке предварительной записи Пациента на прием. Предварительная запись Пациента на прием осуществляется через регистратуру Клиники, в том числе посредством телефонной, факсимильной и иной связи. Телефон регистратуры: +7 (495) 212-06-95.</p>
</div>	
<h5>3. СТОИМОСТЬ И ПОРЯДОК РАСЧЕТОВ</h5>
<p>3.1. Настоящий Договор предусматривает оказание Заказчику медицинских услуг по ценам, предусмотренным действующим Прейскурантом на момент получения услуг.</p>
<p>3.2. Оплата медицинских услуг производится «Пациентом» на условиях 100% предоплаты за весь комплекс услуг, предусмотренных планом лечения, либо по итогам каждого посещения врача, путем внесения наличных денежных средств в кассу «Исполнителя» или по безналичному расчету путем перечисления денежных средств на расчетный счет «Исполнителя». В случае необходимости, индивидуальный график оплаты лечения согласовывается с лечащим врачом.</p>
<h5>4. ПРАВА И ОБЯЗАННОСТИ СТОРОН</h5>
<p>4.1. Клиника обязуется:</p>
<p>4.1.1. Своевременно и качественно оказывать услуги по настоящему договору, предоставляя Пациенту квалифицированную медицинскую помощь в соответствии с имеющейся у Клиники лицензией, сертификатами и действующим законодательством о здравоохранении в РФ.</p>
<p>4.1.2. В своей деятельности по оказанию медицинских услуг использовать методы профилактики, диагностики, лечения, медицинские технологии, лекарственные средства, иммунобиологические препараты и дезинфекционные средства, разрешенные к применению в установленном законом порядке.</p>
<p>4.1.3. Обеспечить Пациента в установленном порядке информацией, включающей в себя сведения о месте оказания услуг, режиме работы, перечне платных медицинских услуг с указанием их стоимости, об условиях предоставления и получения этих услуг, а также сведения о квалификации и сертификации специалистов.</p>
<p>4.1.4. Обеспечить выполнение принятых на себя обязательств по оказанию медицинских услуг силами собственных специалистов и/или сотрудников медицинских учреждений, имеющих с Клиникой договорные отношения.</p>
<p>4.1.5. Обеспечить Пациенту непосредственное ознакомление с медицинской документацией, отражающей состояние его здоровья, и выдать по письменному требованию Пациента или его представителя копии медицинских документов, отражающих состояние здоровья Пациента.</p>

<div style="opacity:00%; clear: both; position: absolute; bottom: 80px; right: 80px; transform: rotate( 
0.015turn
 );">
<img src="/data/vkt-2.png" width="170px"></div>
</div>

<div style="margin: 30px 0"></div>
<!-- English -->
<div class="container">

<p>4.1.6. Уведомлять Пациента об изменении стоимости медицинских услуг не менее чем за 10 (десять) календарных дней до их введения в действие путем размещения Прейскуранта на информационном табло в вестибюле Клиники.
</p><p>4.1.7. Уведомлять Пациента об изменениях условий Договора не менее чем за 10 (десять) календарных дней до вступления изменений путем размещения Прейскуранта на информационном табло в вестибюле Клиники.</p>
<p>4.1.8. Обеспечить Клиента всей необходимой документацией для получения налогового вычета в соответствии с Налоговым кодексом РФ.</p>
<p>4.2. Клиника вправе:</p>
<p>4.2.1. В случае возникновения неотложных состояний самостоятельно определить объем исследований, манипуляций и лечения, необходимых для оказания надлежащей медицинской помощи Пациенту, в том числе и не предусмотренной договором.</p>
<p>4.2.2. В случае нарушения Пациентом предписаний, рекомендаций и назначений врача (ей), расторгнуть настоящий договор с момента обнаружения этих нарушений, если прекращение оказания медицинских услуг не угрожает жизни Пациента и здоровью окружающих. При этом стоимость фактически оказанных услуг не возвращается, а Клиника не несет ответственности за возможное ухудшение состояния здоровья Пациента.</p>
<p>4.2.3. В одностороннем порядке изменять стоимость медицинских услуг, предварительно уведомив Пациента в соответствии с п. 4.1.6.</p>
<p>4.3. Пациент имеет право:</p>
<p>4.3.1. В доступной для него форме получить имеющуюся информацию о состоянии своего здоровья, включая сведения о результатах обследования, наличии заболевания, его диагнозе и прогнозе, методах лечения, связанном с ними риске, возможных вариантах медицинского вмешательства, их последствиях и результатах проведенного лечения.</p>
<p>4.3.2. На информированное добровольное согласие на медицинское вмешательство.</p>
<p>4.3.3. В любое время расторгнуть настоящий договор, уплатив Клинике стоимость фактически оказанной услуги и возместив Клинике расходы, произведенные последней до получения уведомления Пациента об отказе от договора.</p>
<p>4.4. Пациент обязуется:</p>
<p>4.4.1. Информировать Клинику до оказания медицинской услуги о перенесенных заболеваниях, известных ему аллергических реакциях, проводимом ранее лечении и его результатах.</p>
<p>4.4.2. Надлежащим образом исполнять условия настоящего договора, точно выполнять назначения и рекомендации специалистов Клиники и своевременно информировать Клинику о любых обстоятельствах, препятствующих исполнению Пациентом настоящего договора.</p>
<p>4.4.3. Заблаговременно, до начала приема или процедуры, информировать Клинику о необходимости отмены или изменении назначенного ему времени получения медицинской услуги по телефону: +7(499)707-27-24. В случае опоздания Пациента более чем 20 (двадцать) минут по отношению к назначенному ему времени получения услуги, Клиника оставляет за собой право на перенос срока получения или отмену услуги.</p>
<p>4.4.4. При обращении за медицинской помощью предоставить документ, удостоверяющий его личность.</p>
<p>4.4.5. В полном объеме и в сроки, установленные настоящим Договором, производить оплату медицинских услуг, оказанных Клиникой.</p>
<h5>5. КОНФИДЕНЦИАЛЬНОСТЬ</h5>
<p>5.1. Клиника обязуется хранить в тайне информацию о факте обращения Пациента за медицинской помощью, состоянии его здоровья, диагнозе его заболевания и иные сведения, полученные при его обследовании и лечении (врачебная тайна).</p>
<p>5.2. С согласия Пациента или его представителя допускается передача сведений, составляющих врачебную тайну другим лицам, в том числе должностным лицам, в интересах обследования и лечения Пациента.</p><p>
</p><p>5.3. Предоставление сведений, составляющих врачебную тайну, без согласия Пациента или его представителя допускается в целях обследования и лечения Пациента, не способного из-за своего состояния выразить свою волю и в иных случаях, предусмотренных законодательством РФ.</p><p>
</p></div>
<div style="margin: 30px 0"></div>
<div class="container">
<h5>6. ОТВЕТСТВЕННОСТЬ СТОРОН</h5>
<p>6.1. За неисполнение или ненадлежащее исполнение обязательств по договору стороны несут ответственность, предусмотренную действующим законодательством РФ.</p><p>
</p><p>6.2. Клиника освобождается от ответственности за неисполнение или ненадлежащее исполнение настоящего договора, причиной которого стало нарушение Пациентом условий настоящего договора, а также по иным основаниям, предусмотренным законодательством РФ.</p><p>
</p><h5>7. РАССМОТРЕНИЕ СПОРОВ</h5>
<p>7.1. Споры и разногласия по настоящему договору решаются путем принятия сторонами мер по их урегулированию в досудебном претензионном порядке. Ответ на письменную претензию представляется другой стороной в течение 10 рабочих дней после ее получения.</p>
<p>7.2. При не достижении соглашения споры между сторонами рассматриваются в порядке, установленном действующим законодательством РФ.</p>
<h5>8. АДРЕСА И РЕКВИЗИТЫ СТОРОН</h5>
<table>
	<tbody><tr>
		<td><b>Исполнитель:</b><br> 
ООО «Виктория»,<br><br>
Юр. адрес:<br> г. Москва, ул. Большая академическая д. 15, к.1,<br><br>
Фактически адрес:<br> г. Москва, р-н Фили-Давыдково, ул Тарутинская, д 4 к 1<br><br>
ИНН: 7725309705, КПП: 772501001,<br> Р/с: 407002810602270000945,<br> 
К/с: 30101810200000000593, Банк: АО «АЛЬФА- БАНК» г. Москва, БИК: 044525593,<br> 
Телефон: +7 (495) 212-06-95</td>

<td><b>Пациент:</b><br> 
Ф.И.О.: {fio}<br>
Год рождения: {god_rojdeniya}<br>
Паспорт: {passport}<br>
Место жительства: {address}<br>
Телефон: {phone}<br><br><br><br><br>
<span style="float: right;">Подпись: __________________</span>
</td>
	</tr>
</tbody></table>

</div>
