.modal .modal-dialog {
    width: 80% !important;
    max-width: unset !important;
}

.select2-container.select2-container--open {
    z-index: 10000 !important;
}


.cust-fld {
	margin-bottom: 17px;
}

fieldset .form-group {
	margin-bottom: 17px !important;
}

.cust-fld [role="radiogroup"] label {
	display: block;
	margin-bottom: 0.02rem;
} 

.aside-body {
    overflow: auto;
}

.aside-active {
	transform: translateX(0);
}

.table-responsive.kv-grid-container {
    width: 100% !important;
}

.fz-18 {
	font-size: 18px;
}


ul.pagination li a, ul.pagination li span {
	padding: 0.391rem 0.5rem;
	border-radius: 0.2rem;
	color: #000;
	/*background: #0168fa;*/
	/*border-color: #0168fa;*/
	border: 1px solid rgba(27, 46, 75, 0.75);
	border-color: rgba(27, 46, 75, 0.75);
	margin-right: 5px;
}

ul.pagination li.active a {
	color: #fff;
	background: #0168fa;
	border-color: #0168fa;
}

ul.pagination li.prev a {
	padding: 0.391rem 0.5rem;
	border-radius: 0.2rem;
	color: #000;
	/*background: #0168fa;*/
	/*border-color: #0168fa;*/
	border: 1px solid rgba(27, 46, 75, 0.75);
	border-color: rgba(27, 46, 75, 0.75);
}

@media screen and (max-width: 1000px){
	.content-header ul.nav.navbar-menu {
		/*width: 100% !important;*/
		/*display: block !important;*/
		flex-direction: row !important;

	}

	.content-header ul li {
		margin-right: 1.5rem !important;
		/*display: inline-block !important;*/
		/*width: 15% !important;*/
		margin-top: 10px !important;
		margin-bottom: 0 !important;
	}

	.navbar-menu-sub {
		position: absolute !important;
		background: #fff !important;
    	border: 1px solid rgba(72, 94, 144, 0.16) !important;
	}
}